<div class="container">
    <div class="row"><div class="col-md-1"></div>
        <div class="col-md-10 test">         
            <div id="shape1" class="draggable text-center" style="margin-right: 11%;">Signature</div>
            <div id="shape1" class="draggable text-center " style="margin-right: 11%;">Name</div>
            <div id="shape1" class="draggable text-center pull-right">Date</div>
            <div id="droppable"></div>           
        </div>
        <div class="col-md-1"></div>
    </div>
</div>